

<div id="footer" class="container-fluid">
    <footer>
        <address>
            Call Me: <span class="glyphicon glyphicon-earphone"></span>(123) 456-7890</br>
            Email Me: <span class="glyphicon glyphicon-envelope"></span>something@something.com            
        </address>
    </footer>
</div>
